#main{

}

#calendario-principal{
  background-color:rgba(0, 0, 0, 0.18);
}

.social {
	/*El position fixed, hara que los iconos se queden
	pegados en pantalla*/
	position: fixed;

	/*left: 0 hara que la barra se aplique hacia la
	izquierda*/
    left: 0;

    /*Hara la barra hacia abajo*/
    top: 200px;

    /*El z-index, lo ponemos por si tenemos otro elemento
    en nuestro sitio web que no, lo vaya a superponer
    Es decir los iconos siempre estarian arriba de tod*/
    z-index: 2000;

}

.social ul {

   /*Lis-style: none, le quita el formato de lista*/
   list-style: none;
}

.social ul li a {
	/*A los elemento <a>, para ponerles un padding,
	debemos ponerles un display:inline-block
	Si no, no los podemos editar*/
	display: inline-block;

	/*Un color blanco de fuente*/
    color: #fff;

    /*Color negro de fondo*/
    background: #000;

    /**/
    padding: 10px 15px;

    text-decoration: none;

    /*Esta es la animacion para cada icono*/
    -webkit-transition:all 500ms ease;
		-o-transition:all 500ms ease;
		transition:all 500ms ease;
}

/*Aqui le doy color de fondo a cada icono*/
.social ul li .icon-facebook {background: #2382e0;}
.social ul li .icon-twitter {background: #32bdef;}
.social ul li .icon-instagram {background: #000;}
.social ul li .icon-pinterest {background: #e03223;}
.social ul li .icon-github {background: #c023e0;}
.social ul li .icon-spotify {background: #32ef7a;}


/*Aqui agregamos la animacion, para cuando pasemos el mouse
sobre cada icono, y a su vez este cambie de color*/
.social ul li a:hover{
     padding: 10px 30px;
		 background: #54504a;
}
