header{
}
body, html {
  width: 100%;
  height: 100%;
}

.network-name {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
}
.content-section-a {
  padding: 50px 0;
  background-color: #f8f8f8;
}
.content-section-b {
  padding: 50px 0;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}

.section-heading {
  margin-bottom: 30px;
}

.section-heading-spacer {
  float: left;
  width: 200px;
  border-top: 3px solid #e7e7e7;
}
.row img{
  margin-top: 20px;
  margin-bottom: 5px;
  }

.banner h2 {
  margin: 0;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  font-size: 3em;
}
.banner ul {
  margin-bottom: 0;
}
.row button{
  margin-top: 30px;
  margin-bottom: 5px;
}
.navbar-nav li{
  margin-left: 0px;
  padding-right:0px;
}
.menu-bar{
   background-color: #004165;
   padding-top: 0px;
   padding-top: 0px;
}

.navbar-light .navbar-nav .nav-link{
  color: white;
}

.navbar-light .navbar-nav .nav-link:hover{
  color: #007ac5;

}
.navbar-nav ul:hover{
    background-color: #ffffff;
}

.banner {
  padding: 100px 0;
  color: #f8f8f8;
  background: url(img/banner-bg.png) no-repeat center center;
  background-size: cover;
}

footer {
  padding: 50px 0;
  background-color: #f8f8f8;
}

p.copyright {
  margin: 15px 0 0;
}
.intro-header {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
#calendario-principal{
  width: 50%;
  height: 50%;
}
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?7940a5');
  src:  url('fonts/icomoon.eot?7940a5#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?7940a5') format('truetype'),
    url('fonts/icomoon.woff?7940a5') format('woff'),
    url('fonts/icomoon.svg?7940a5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-paypal:before {
  content: "\e900";
}
.icon-spotify:before {
  content: "\e901";
}
.icon-vk:before {
  content: "\e902";
}
.icon-dribbble:before {
  content: "\e903";
}
.icon-facebook:before {
  content: "\e904";
}
.icon-github:before {
  content: "\e905";
}
.icon-google:before {
  content: "\e906";
}
.icon-instagram:before {
  content: "\e907";
}
.icon-linkedin:before {
  content: "\e908";
}
.icon-pinterest:before {
  content: "\e909";
}
.icon-tumblr:before {
  content: "\e90a";
}
.icon-twitter:before {
  content: "\e90b";
}
.icon-vimeo:before {
  content: "\e90c";
}
.icon-youtube:before {
  content: "\e90d";
}
